@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #080c14;
  --accent: #00d4ff;
}

body {
  background-color: var(--bg);
  color: #f0f4ff;
  font-family: Inter, system-ui, sans-serif;
  overflow-x: hidden;
}

* {
  -webkit-tap-highlight-color: transparent;
}
